@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;400;700&display=swap');
body {
  font-family: 'Fira Sans', sans-serif;
  color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10vmin;
}
a {
  color: inherit;
  text-decoration: inherit;
  padding: 0.25em;
}
a:hover, .selected {
  border-bottom: 2px solid #000;
}
#title {
  font-size: 2em;
  font-weight: 100;
  margin-bottom: 1em;
}
#footer {
  font-size: 0.75em;
}
